.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.c {width: 95%; background-color: gray;}
.cpp {width: 70%; background-color: blue;}
.js {width: 95%; background-color: green;}

